<section id="posts2"  class="container inner overflow main">
	<div id="posts">
<h2>About this site</h2>
<p>This website was built using Ruby on Rails for my RIA Module at University. Makes great use of AJAX and the History API. Not quite a finished product but good enough to get me the grade.</p>
</div>
</section>